@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    body{
			width: 100%;
	background-repeat: no-repeat;
	background-position: top!important;
    background-size: cover!important;
    float: left;
    min-height: 730px;

	
	}

.footer-parent{
	display: flex;
	justify-content: center;
    align-items: center;
	margin-top: 6%;
	background-color: #100029;
}
.footer-child-text{
	margin:20px;
	color: aliceblue;
	font-family: sans-serif;
}

*{
	margin:0;
	padding:0;
  box-sizing: border-box;
}


.flexbox{
    display: flex;
}

.navbar{
    justify-content: center;
    margin-top: 20px;
    flex-direction:row;
    height: 65px;
    vertical-align: middle;
    align-items: center;
}

.span{
    margin:10px;
    font-family: 'M PLUS 1p', sans-serif;
    color: white; 
    font-weight: bold;
    text-decoration: none;
}

.span:hover{
    color: #A5C9CA;
    cursor: pointer;
}

.logo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
}
@media only screen and (min-device-width: 4px) and (max-device-width: 450px) {
    .span{
        font-size: 15px;
        margin:5px;
    }
    .logo{
        margin-right:0px;
    }
}




.container{
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

}


form{
  background: transparent;
  display: flex;
  flex-direction: column;
  padding: 2vh 4vh;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin-top: 50px;
  
}

/* navbar start */

#message{
	resize: vertical;
}
link-nav-heading {
	padding: 2.5%;
	width: 80px;
	height: 80px;
	font-family: calibri;
}
.nav-head-logo {
	width: 80px;
	height: 80px;
	border-radius:40px ;
	margin-top: 20px;
	margin-left:5%;
}

.nav-link {
	margin-right: 1%;
	font-size: 100%;
	text-decoration: none;
	color: #D1D1D1;
	font-family: 'Ubuntu', sans-serif;

}


.navbar {
	height: 100px;
}
.parent{
	margin-top:-40px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.hover-orange{
	color: #ffffff;
	font-weight: bold;
}
.hover-orange:hover {
	color: rgb(191, 191, 191);
	cursor: pointer;
}
.hover-orange{
	text-decoration: none;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 7068px) {
	.navbar-mobile-button{
		display: none;
	}
	.space{
		display: none;
	}
}

@media only screen and (min-device-width: 4px) and (max-device-width: 1000px) {
	.parent{
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		position: absolute;
		text-align: left;
		margin-left: 10%;
		display: none;
		z-index: 2;
	}
	.hm-child-img{
		width: 265px;
		margin-top:10%;
	}

	.link-nav-heading{
		margin-left: 3%;
	}
	.space{
		height: 200px;
		display: none;
	}
	.nav-link{
		/* display: none; */
		padding: 8px;
		width: 100%;
		z-index: 2;
		
	}
	.navbar-mobile-button{
		height: 40px;
		display: flex;
		float: right;
		margin-right: 18%;
		margin-top: 40px;

	}
	.nav-items-all{
		display: none;
		z-index: 2;
	}
	}


@media only screen and (min-device-width: 4px) and (max-device-width: 450px) {
    .span{
        font-size: 15px;
        margin:5px;
    }
    .logo{
        margin-right:0px;
    }
}

/* navbar end */
form h3{
  color: white;
  font-weight: 800;
  font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;

  margin-bottom: 20px;
}

form input, form textarea{

  border:0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 10px;
}

form button{
  padding: 15px;
  background: linear-gradient(to left, #6a82fb, #fb5bd8);
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
  transition: 3ms;
  
}

form button:hover{
  background: linear-gradient(to left, #9eaeff, #ff8fa5);
/*   box-shadow: 2px 10px 10px #000052; */
}
