@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
    body{
		width: 100%;
	background-repeat: no-repeat;
	background-position: top!important;
    background-size: cover!important;
    float: left;
    min-height: 730px;
    }

.img-core{
	border-radius: 20px;
}

.footer-parent{
	display: flex;
	justify-content: center;
    align-items: center;
	margin-top: 6%;
	background-color: #100029;
}
.footer-child-text{
	margin:20px;
	color: aliceblue;
	font-family: sans-serif;
}

.desc{
	font-family: 'Unbounded', cursive;
}

*{
	margin:0;
	padding:0;
  box-sizing: border-box;
  line-height: 1.5;
}
.about-heading{
	font-family: 'Secular One', sans-serif;
}
/* navbar start */

#message{
	resize: vertical;
}
link-nav-heading {
	padding: 2.5%;
	width: 80px;
	height: 80px;
	font-family: calibri;
}
.nav-head-logo {
	width: 80px;
	height: 80px;
	border-radius:40px ;
	margin-top: 20px;
	margin-left:5%;
}

.nav-link {
	margin-right: 1%;
	font-size: 100%;
	text-decoration: none;
	color: #D1D1D1;
	font-family: 'Ubuntu', sans-serif;

}


.navbar {
	height: 100px;
}
.parent{
	margin-top:-40px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.hover-orange{
	color: #ffffff;
	font-weight: bold;
}
.hover-orange:hover {
	color: rgb(191, 191, 191);
	cursor: pointer;
}
.hover-orange{
	text-decoration: none;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 7068px) {
	.navbar-mobile-button{
		display: none;
	}
	.space{
		display: none;
	}
}

@media only screen and (min-device-width: 4px) and (max-device-width: 1000px) {
	.parent{
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		position: absolute;
		text-align: left;
		margin-left: 10%;
		display: none;
		z-index: 2;
	}
	.hm-child-img{
		width: 265px;
		margin-top:10%;
	}

	.link-nav-heading{
		margin-left: 3%;
	}
	.space{
		height: 200px;
		display: none;
	}
	.nav-link{
		/* display: none; */
		padding: 8px;
		width: 100%;
		z-index: 2;
		
	}
	.navbar-mobile-button{
		height: 40px;
		display: flex;
		float: right;
		margin-right: 18%;
		margin-top: 40px;

	}
	.nav-items-all{
		display: none;
		z-index: 2;
	}
	}


@media only screen and (min-device-width: 4px) and (max-device-width: 450px) {
    .span{
        font-size: 15px;
        margin:5px;
    }
    .logo{
        margin-right:0px;
    }
}

/* navbar end */
.flexbox{
    display: flex;
}

.navbar{
    justify-content: center;
    margin-top: 20px;
    flex-direction:row;
    height: 65px;
    vertical-align: middle;
    align-items: center;
}

.span{
    margin:10px;
    font-family: 'M PLUS 1p', sans-serif;
    color: white; 
    font-weight: bold;
    text-decoration: none;
}

.span:hover{
    color: #A5C9CA;
    cursor: pointer;
}

.logo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
}
@media only screen and (min-device-width: 4px) and (max-device-width: 450px) {
    .span{
        font-size: 15px;
        margin:5px;
    }
    .logo{
        margin-right:0px;
    }
}


/* about us start*/

.about-us{
  width: 100%;
  
}

.about-us h1{
  text-align: center;
  font-size: 40px;
  color: #2b9ec2;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 70px;
  
}


.about-us h1::after{
  content:"";
  height: 5px;
  width: 200px;
  background-color: #2b9ec2;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.wrapper{
  padding: 0px 60px;
  margin: 60px auto;
  
}


.content{
  width: 60%;
  float: left;
  text-align: left;
  padding: 0px 30px;
  
}


.image-section{
  width: 40%;
  float: right;
  
}


.image-section img{
  max-width: 100%;
  height: auto;
  
}


.content h3{
  color: white;
  letter-spacing: 1px;
  
}

.content p{
  font-family: system-ui, sans-serif;
  font-size: 18px;
  color: #faffad;
  margin-top: 20px;
  
  
}


.content .button{
  margin-top: 40px;
  
}

.content .button a{
  color: white;
  background: transparent;
  border: 2px solid white;
  padding: 10px 35px;
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
  border-radius:15px;
	font-family: 'Secular One', sans-serif;

  transition: 0.50s;
  
}

.content .button a:hover{
  box-shadow: none;
}

.content .social{
  margin-top: 30px;
  margin-left: 15px;
  
}


.content .social a{
  color: #f2f226;
  font-size: 25px;
  padding: 0px 7px;
  
}

.content .social i{
  height: 40px;
  width: 40px;
  background: transparent;
  border: 1px solid #222;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}


.content .social a:hover{
  color: blue;
  transition: 0.50s;
}


@media screen and (max-width: 900px){
  .about_us{
    width: 100%;
    padding-top: 20px;
    
  }
  .about_us h1{
    font-size: 32px;
    
  }
  .content{
    width: 100%;
    float: none;
  }
  .content .button{
    margin-top: 30px;
    text-align: center;
    
  }
  .content .button a{
    padding: 8px 25px;
    
  }

  .content .social{
    margin-top: 30px;
    text-aiign: center;
  }
  .content .social a{
    font-size: 21px;
    
  }

  .image-section{
    float: none;
    width: 100%;
    margin-top: 25px;
    
  }
}
